<!DOCTYPE html>
<html>

<head>
  <title>Определение вероятности наличия сердечно-сосудистых патологий</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}">
</head>

<body>
  <h1>Определение вероятности наличия сердечно-сосудистых патологий</h1>
  <div class="tab">
    <button class="tab-link active" onclick="openTab(event, 'predict-tab')">Прогноз</button>
    <button class="tab-link" onclick="openTab(event, 'add-tab')">Добавить данные</button>
    <button class="tab-link" onclick="openTab(event, 'update-tab')">Обновить данные</button>
    <button class="tab-link" onclick="openTab(event, 'delete-tab')">Удалить данные</button>
  </div>
  <div id="predict-tab" class="tab-content">
    <h2>Прогноз</h2>
    <form action="{{url_for('prediction')}}" method="post">
      <table>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <label> Н/Д: </label>
          </td>
        </tr>
        <tr>
          <td><label for="age">Возраст:</label></td>
          <td><input type="text" id="age" autocomplete="on" name="age" value = {{dataPredict.age}}></td>
        </tr>
        <tr>
          <td><label for="anaemia">Анемия:</label></td>
          <td>
            <input type="checkbox" id="anaemia" name="anaemia" >
          </td>
          <td></td>
          <td>
            <input type="checkbox" id="anaemia_сheck" name="anaemia_check">
          </td>
        </tr>
        <tr>
          <td><label for="creatinine_phosphokinase">Креатинин-фосфокиназа (mcg/L):</label></td>
          <td><input type="text" step="any" id="creatinine_phosphokinase" name="creatinine_phosphokinase" value={{dataPredict.creatinine_phosphokinase}}></td>
        </tr>
        <tr>
          <td><label for="diabetes">Диабет:</label></td>
          <td>
            <input type="checkbox" id="diabetes" name="diabetes" value = {{dataUpdate.diabetes}}>
          </td>
          <td></td>
          <td>
            <input type="checkbox" id="diabetes_check" name="diabetes_check">
          </td>
        </tr>
        <tr>
          <td><label for="ejection_fraction">Процент выброса (%):</label></td>
          <td><input type="text" step="any" id="ejection_fraction" name="ejection_fraction" value = {{dataPredict.ejection_fraction}}></td>
        </tr>
        <tr>
          <td><label for="high_blood_pressure">Гипертония:</label></td>
          <td>
            <input type="checkbox" id="high_blood_pressure" name="high_blood_pressure">
          </td>
          <td></td>
          <td>
            <input type="checkbox" id="high_blood_pressure_check" name="high_blood_pressure_check">
          </td>
        </tr>
        <tr>
          <td><label for="platelets">Тромбоциты (kiloplatelets/mL):</label></td>
          <td><input type="text" step="any" id="platelets" name="platelets"  value = {{dataPredict.platelets}}></td>
        </tr>
        <tr>
          <td><label for="serum_creatinine">Сывороточный креатинин (mg/dL):</label></td>
          <td><input type="text" step="any" id="serum_creatinine" name="serum_creatinine" value={{dataPredict.serum_creatinine}}></td>
        </tr>
        <tr>
          <td><label for="serum_sodium">Сывороточный натрий (mEq/L):</label></td>
          <td><input type="text" step="any" id="serum_sodium" name="serum_sodium" value={{dataPredict.serum_sodium}}></td>
        </tr>
        <tr>
          <td><label for="sex">Пол:</label></td>
          <td>
            <input type="radio" id="female" name="sex" value="female"> <label for="female">Женский</label><br>
            <input type="radio" id="male" name="sex" value="male"> <label for="male">Мужской</label>
          </td>
        </tr>
        <tr>
          <td><label for="smoking">Курение:</label></td>
          <td>
            <input type="checkbox" id="smoking" name="smoking">
          <td></td>
          </td>
          <td>
            <input type="checkbox" id="smoking_сheck" name="smoking_check">
          </td>
        </tr>
        <tr>
          <td><label for="time">Период наблюдения (дни):</label></td>
          <td><input type="text" step="any" id="time" name="time", value={{dataPredict.time}}></td>
        </tr>
      </table>
      <br>
      <input type="submit" value="Оценка риска">
      <br>
      <br>
      <div>Вероятность риска ССЗ: {{ dataPredict.probability }} {{dataPredict.status}}</div>
      <br>
      <div>Точность модели: {{ dataPredict.accuracy }}</div>
      <div>Погрешность от количества введенных параметров: {{dataPredict.AccurParam}} </div>
    </form>

  </div>
  <div id="add-tab" class="tab-content">
    <h2>Добавить данные</h2>
    <form action="{{url_for('add_data')}}" method="post">
      <table>
        <tr>
          <td><label for="age">Возраст:</label></td>
          <td><input type="text" id="age" name="age" value = {{dataAdd.age}}></td>
        </tr>
        <tr>
          <td><label for="anaemia">Анемия:</label></td>
          <td><input type="checkbox" id="anaemia" name="anaemia"></td>
        </tr>
        <tr>
          <td><label for="creatinine_phosphokinase">Креатинин-фосфокиназа (mcg/L):</label></td>
          <td><input type="text" step="any" id="creatinine_phosphokinase" name="creatinine_phosphokinase" value = {{dataAdd.creatinine_phosphokinase}}>
          </td>
        </tr>
        <tr>
          <td><label for="diabetes">Диабет:</label></td>
          <td><input type="checkbox" id="diabetes" name="diabetes" value = {{dataUpdate.diabetes}}></td>
        </tr>
        <tr>
          <td><label for="ejection_fraction">Процент выброса (%):</label></td>
          <td><input type="text" step="any" id="ejection_fraction" name="ejection_fraction" value = {{dataAdd.ejection_fraction}}></td>
        </tr>
        <tr>
          <td><label for="high_blood_pressure">Гипертония:</label></td>
          <td><input type="checkbox" id="high_blood_pressure" name="high_blood_pressure"></td>
        </tr>
        <tr>
          <td><label for="platelets">Тромбоциты (kiloplatelets/mL):</label></td>
          <td><input type="text" step="any" id="platelets" name="platelets" value={{dataAdd.platelets}}></td>
        </tr>
        <tr>
          <td><label for="serum_creatinine">Сывороточный креатинин (mg/dL):</label></td>
          <td><input type="text" step="any" id="serum_creatinine" name="serum_creatinine" value={{dataAdd.serum_creatinine}}></td>
        </tr>
        <tr>
          <td><label for="serum_sodium">Сывороточный натрий (mEq/L):</label></td>
          <td><input type="text" step="any" id="serum_sodium" name="serum_sodium" value={{dataAdd.serum_sodium}}></td>
        </tr>
        <tr>
          <td><label for="sex">Пол:</label></td>
          <td>
            <input type="radio" id="female" name="sex" value="female"> <label for="female">Женский</label><br>
            <input type="radio" id="male" name="sex" value="male"> <label for="male">Мужской</label>
          </td>
        </tr>
        <tr>
          <td><label for="smoking">Курение:</label></td>
          <td><input type="checkbox" id="smoking" name="smoking"></td>
        </tr>
        <tr>
          <td><label for="time">Период наблюдения (дни):</label></td>
          <td><input type="text" step="any" id="time" name="time" value={{dataAdd.time}}></td>
        </tr>
      </table>
      <input type="submit" value="Добавить в базу">
    </form>
  </div>
  <div id="update-tab" class="tab-content">
    <h2>Обновить данные</h2>
    <!-- <table>
      <tr>
        <td><h2>Найти</h2></td>
        <td><h2>Старые значения</h2></td>
        <td><h2>Новые значения</h2></td>
      </tr>
    </table> -->
    <form action="{{url_for('update')}}" method="post">
      <table>
        <tr>
          <td><h3>Найти записи в базе</h3></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><h3>Старые значения</h3></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><h3>Новые значения</h></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <h3>Н/Д:</h3>
          </td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <h3>Н/Д:</h3>
          </td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <h3>Н/Д:</h3>
          </td>
        </tr>
        <tr>
          <td><label for="age">Возраст:</label></td>
          <td><input type="text" id="age" autocomplete="on" name="age" value = {{dataUpdate.age}}></td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="age">Возраст:</label></td>
          <td><input type="text" id="age_from" autocomplete="on" name="age_from"></td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="age">Возраст:</label></td>
          <td><input type="text" id="age_to" autocomplete="on" name="age_to"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><label for="anaemia">Анемия:</label></td>
          <td>
            <input type="checkbox" id="anaemia" name="anaemia" {{dataUpdate.anaemia}}>
          </td>
          <td></td>
          <td>
            <input type="checkbox" id="anaemia_сheck" name="anaemia_check" {{dataUpdate.anaemia_check}}>
          </td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="anaemia">Анемия:</label></td>
          <td>
            <input type="checkbox" id="anaemia_from" name="anaemia_from">
          </td>
          <td></td>
          <td>
            <input type="checkbox" id="anaemia_сheck_from" name="anaemia_check_from">
          </td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="anaemia">Анемия:</label></td>
          <td>
            <input type="checkbox" id="anaemia_to" name="anaemia_t0">
          </td>
          <td></td>
          <td>
            <input type="checkbox" id="anaemia_сheck_to" name="anaemia_check_to">
          </td>
        </tr>
        <tr>
          <td><label for="creatinine_phosphokinase">Креатинин-фосфокиназа (mcg/L):</label></td>
          <td><input type="text" step="any" id="creatinine_phosphokinase" name="creatinine_phosphokinase" value = {{dataUpdate.creatinine_phosphokinase}}></td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="creatinine_phosphokinase">Креатинин-фосфокиназа (mcg/L):</label></td>
          <td><input type="text" step="any" id="creatinine_phosphokinase_from" name="creatinine_phosphokinase_from">
          </td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="creatinine_phosphokinase">Креатинин-фосфокиназа (mcg/L):</label></td>
          <td><input type="text" step="any" id="creatinine_phosphokinase_to" name="creatinine_phosphokinase_to"></td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
        </tr>
        <tr>
          <td><label for="diabetes">Диабет:</label></td>
          <td>
            <input type="checkbox" id="diabetes" name="diabetes" {{dataUpdate.diabetes}}>
          </td>
          <td></td>
          <td>
            <input type="checkbox" id="diabetes_check" name="diabetes_check" {{dataUpdate.diabetes_check}}>
          </td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="diabetes">Диабет:</label></td>
          <td>
            <input type="checkbox" id="diabetes_from" name="diabetes_from">
          </td>
          <td></td>
          <td>
            <input type="checkbox" id="diabetes_check_from" name="diabetes_check_from">
          </td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="diabetes">Диабет:</label></td>
          <td>
            <input type="checkbox" id="diabetes_to" name="diabetes_to">
          </td>
          <td></td>
          <td>
            <input type="checkbox" id="diabetes_check_to" name="diabetes_check_to">
          </td>
        </tr>
        <tr>
          <td><label for="ejection_fraction">Процент выброса (%):</label></td>
          <td><input type="text" step="any" id="ejection_fraction" name="ejection_fraction" value = {{dataUpdate.ejection_fraction}}></td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="ejection_fraction">Процент выброса (%):</label></td>
          <td><input type="text" step="any" id="ejection_fraction_from" name="ejection_fraction_from"></td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="ejection_fraction">Процент выброса (%):</label></td>
          <td><input type="text" step="any" id="ejection_fraction_to" name="ejection_fraction_to"></td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
        </tr>
        <tr>
          <td><label for="high_blood_pressure">Гипертония:</label></td>
          <td>
            <input type="checkbox" id="high_blood_pressure" name="high_blood_pressure" {{dataUpdate.high_blood_pressure}}>
          </td>
          <td></td>
          <td>
            <input type="checkbox" id="high_blood_pressure_check" name="high_blood_pressure_check" {{dataUpdate.high_blood_pressure_check}}>
          </td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="high_blood_pressure">Гипертония:</label></td>
          <td>
            <input type="checkbox" id="high_blood_pressure_from" name="high_blood_pressure_from" >
          </td>
          <td></td>
          <td>
            <input type="checkbox" id="high_blood_pressure_check_from" name="high_blood_pressure_check_from">
          </td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="high_blood_pressure">Гипертония:</label></td>
          <td>
            <input type="checkbox" id="high_blood_pressure_to" name="high_blood_pressure_to">
          </td>
          <td></td>
          <td>
            <input type="checkbox" id="high_blood_pressure_check_to" name="high_blood_pressure_check_to">
          </td>
        </tr>
        <tr>
          <td><label for="platelets">Тромбоциты (kiloplatelets/mL):</label></td>
          <td><input type="text" step="any" id="platelets" name="platelets" value={{dataUpdate.platelets}}></td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="platelets">Тромбоциты (kiloplatelets/mL):</label></td>
          <td><input type="text" step="any" id="platelets_from" name="platelets_from"></td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="platelets">Тромбоциты (kiloplatelets/mL):</label></td>
          <td><input type="text" step="any" id="platelets_to" name="platelets_to"></td>
        </tr>
        <tr>
          <td><label for="serum_creatinine">Сывороточный креатинин (mg/dL):</label></td>
          <td><input type="text" step="any" id="serum_creatinine" name="serum_creatinine" value={{dataUpdate.serum_creatinine}}></td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="serum_creatinine">Сывороточный креатинин (mg/dL):</label></td>
          <td><input type="text" step="any" id="serum_creatinine_from" name="serum_creatinine_from"></td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="serum_creatinine">Сывороточный креатинин (mg/dL):</label></td>
          <td><input type="text" step="any" id="serum_creatinine_to" name="serum_creatinine_to"></td>

        </tr>
        <tr>
          <td><label for="serum_sodium">Сывороточный натрий (mEq/L):</label></td>
          <td><input type="text" step="any" id="serum_sodium" name="serum_sodium" value={{dataUpdate.serum_sodium}}></td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="serum_sodium">Сывороточный натрий (mEq/L):</label></td>
          <td><input type="text" step="any" id="serum_sodium_from" name="serum_sodium_from"></td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="serum_sodium">Сывороточный натрий (mEq/L):</label></td>
          <td><input type="text" step="any" id="serum_sodium_to" name="serum_sodium_to"></td>
        </tr>
        <tr>
          <td><label for="sex">Пол:</label></td>
          <td>
            <input type="radio" id="female" name="sex" value="female" {{dataUpdate.female}}> <label for="female">Женский</label><br>
            <input type="radio" id="male" name="sex" value="male" {{dataUpdate.male}}> <label for="male">Мужской</label>
          </td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="sex">Пол:</label></td>
          <td>
            <input type="radio" id="female" name="sex_from" value="female"> <label for="female">Женский</label><br>
            <input type="radio" id="male" name="sex_from" value="male"> <label for="male">Мужской</label>
          </td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="sex">Пол:</label></td>
          <td>
            <input type="radio" id="female" name="sex_to" value="female" > <label for="female">Женский</label><br>
            <input type="radio" id="male" name="sex_to" value="male" > <label for="male">Мужской</label>
          </td>
        </tr>
        <tr>
          <td><label for="smoking">Курение:</label></td>
          <td>
            <input type="checkbox" id="smoking" name="smoking" {{dataUpdate.smoking}}>
          <td></td>
          </td>
          <td>
            <input type="checkbox" id="smoking_сheck" name="smoking_check" {{dataUpdate.smoking_check}}>
          </td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="smoking">Курение:</label></td>
          <td>
            <input type="checkbox" id="smoking_from" name="smoking_from">
          <td></td>
          </td>
          <td>
            <input type="checkbox" id="smoking_сheck_from" name="smoking_check_from">
          </td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="smoking">Курение:</label></td>
          <td>
            <input type="checkbox" id="smoking_to" name="smoking_to">
          <td></td>
          </td>
          <td>
            <input type="checkbox" id="smoking_сheck_to" name="smoking_check_to">
          </td>
        </tr>
        <tr>
          <td><label for="time">Период наблюдения (дни):</label></td>
          <td><input type="text" step="any" id="time" name="time" value={{dataUpdate.time}}></td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="time">Период наблюдения (дни):</label></td>
          <td><input type="text" step="any" id="time_from" name="time_from"></td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td><label for="time">Период наблюдения (дни):</label></td>
          <td><input type="text" step="any" id="time_to" name="time_to"></td>
        </tr>
        <tr></tr>
        <tr>
          <td>
            <input type="submit" value="Найти в базе">
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td>
            <!-- <input type="submit" value="Оценка риска"> -->
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <p style="margin-left: 10px;"></p>
          </td>
          <td>
            <!-- <input type="submit" value="Оценка риска"> -->
          </td>
        </tr>
      </table>
      <br>
    </form>
    {% block content %}
    <table id="data" class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Возраст</th>
          <th>Анемия</th>
          <th>Креатинин-фосфокиназа (mcg/L)</th>
          <th>Диабет</th>
          <th>Процент выброса (%)</th>
          <th>Гипертония</th>
          <th>Тромбоциты (kiloplatelets/mL)</th>
          <th>Сывороточный креатинин (mg/dL)</th>
          <th>Сывороточный натрий (mEq/L)</th>
          <th>Пол</th>
          <th>Курение</th>
          <th>Период наблюдения (дни)</th>
        </tr>
      </thead>
      <tbody>
        {% for row in db %}
        <tr>
          <td>{{ row[0]}}</td>
          <td>{{ row[1]}}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3]}}</td>
          <td>{{ row[4]}}</td>
          <td>{{ row[5]}}</td>
          <td>{{ row[6] }}</td>
          <td>{{ row[7]}}</td>
          <td>{{ row[8]}}</td>
          <td>{{ row[9]}}</td>
          <td>{{ row[10] }}</td>
          <td>{{ row[11]}}</td>
          <td>{{ row[12] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endblock %}

  </div>
  <div id="delete-tab" class="tab-content">
    <h2>Удалить данные</h2>
    <!-- Здесь может быть содержимое вкладки Удалить данные -->
  </div>
  <script src="{{url_for('static', filename = 'js/script.js')}}"></script>
</body>

</html>



<td>
  <p style="margin-left: 10px;"></p>
</td>